{% extends 'base.html' %}

{% block content %}
  <h1 class="related-wines-title">Q8 — Castas comuns entre vinhos tintos e brancos</h1>
  <p class="query-desc">Objetivo: Determinar quais castas de uva (Grape) são utilizadas simultaneamente em vinhos do tipo Red e
do tipo White</p>

  {% if rows %}
    <table>
      <tr>
        {% for col in rows[0].keys() %}
          <th>{{ col }}</th>
        {% endfor %}
      </tr>

      {% for r in rows %}
        <tr>
          {% for col in r.keys() %}
            <td>{{ r[col] }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>Sem resultados.</p>
  {% endif %}
{% endblock %}
